name: CI

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master
      - beta

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  build:
    uses: Neovici/cfg/.github/workflows/forge.yml@master
    secrets: inherit
